parameters:
  level: max
  paths:
    - src
    - test/src

  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
    - '#Parameter \#2 \$repository of method FactorioItemBrowser\\Api\\Import\\NewImporter\\AbstractEntityImporter<mixed,FactorioItemBrowser\\Api\\Database\\Entity\\EntityWithId>::__construct\(\) expects FactorioItemBrowser\\Api\\Database\\Repository\\AbstractIdRepository<FactorioItemBrowser\\Api\\Database\\Entity\\EntityWithId>.*#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
